RewriteEngine On



RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([^/]+)/?$ php/$1.php [L]


RewriteRule ^old-page$ new-page [R=301,L]


RewriteRule ^old-directory/(.*)$ new-directory/$1 [R=301,L]


RewriteRule ^page/([0-9]+)$ handler.php?id=$1 [QSA,L]

RewriteRule ^product/([a-zA-Z0-9_-]+)$ php/product.php?url=$1 [QSA,L]

RewriteRule ^c/([a-zA-Z0-9_-]+)$ php/category.php?url=$1 [QSA,L]


